 
.header {
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    transition: top 0.4s ease-in-out;
    background-color: rgba(0,0,0,0.6);
}

.header-up{
    top: -50px;
}

#logo{
    text-align: center;
    margin-top: 10px;
    height:25px;
    margin-left: 16px;  
}

#hnav{
    margin-right: 16px;
    align-self: center;
}

.hlink {
    text-decoration: none;
    color: darkgray;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    font-weight: 200;
    vertical-align:baseline;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.4s ease-out; 

}
.hlink:hover{color: #178060;}

#menu{
    display: inline-block;
    margin-left: 16px;
    margin-right: 8px;
    cursor: pointer;
}
#menu:hover > .menu_rect{
    background-color: #178060;
}
.menu_rect{
    position: relative;
    height: 1px;
    width:14px;
    transition: background-color 0.4s ease-out; 
    background-color: darkgray;
}

.menu_none{
    height:4px;
    width:14px;
}

#slider{
    visibility: visible;
    text-align: center;
    z-index: 60;
    top: 0px;
    position:fixed;
    right: -320px;
    height: 100%;
    width:320px;
    background-color: rgba(51,51,51,0.9);
    
}

#slider > h2{
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#slider h4{
    color: #178060;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    transition: color 0.4s ease-out;
}

#slider h4:hover{
    color: #1c9c76;
}

#slider p{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    padding-left:15px;
    padding-right: 15px;
}
#slider div a, #slider div p{
    text-decoration: none;
    display: block;
    text-align: left;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.4s ease-out;
}

#slider div a:hover, #slider div p:hover{
    color: darkgray;
}

#slider hr{
    width: 150px;
    background-color:dimgray;
    border:none; 
    height:1px; 
}

#slider i{
    padding-left: 45px;
    padding-right: 20px;
}


.circular {
	width: 180px;
	height: 180px;
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
}